{% extends 'navbar.html' %}

{% block title %}
Iniciar sesión
{% endblock %}

{% block content %}

<h1>Iniciar sesión</h1>

<form method="POST">

    <input
        type="email"
        name="correo"
        placeholder="Correo"
        required
    >

    <input
        type="password"
        name="password"
        placeholder="Contraseña"
        required
    >

    <button type="submit">
        Ingresar
    </button>

</form>

{% if error %}
    <p>{{ error }}</p>
{% endif %}

{% endblock %}