<link rel="stylesheet" href="{{ url_for('static', filename='css/styleForm.css') }}">

{% extends 'navbar.html' %}

{% block title %}
Iniciar sesión
{% endblock %}

{% block content %}


<div class="cont-form activo-from">

    <form method="POST">
        <a href="/" class="btn-cerrar">

            <img src="{{ url_for('static',filename='img/svg/iconoCerrar.svg') }}" alt="Cerrar">

        </a>

        <h2>Iniciar sesión</h2>

        <div class="input-group">

            <input type="email" name="correo" placeholder="Correo" required>

        </div>

        <div class="input-group">

            <input type="password" name="password" placeholder="Contraseña" required>

        </div>
        
        <button type="submit" class="btn-sub">
            Ingresar
        </button>

    </form>
</div>

{% if error %}
    <p>{{ error }}</p>
{% endif %}

{% endblock %}