<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleGlobal.css') }}">

    <title>{% block title %}Repostería{% endblock %}</title>
</head>

<body>

    {% if mostrar_navbar != False %}
        <!-- NAVBAR CLIENTES -->
        {% if tipo_nav == "cliente" %}
            <nav class="nav-cli">

                <div class="navbar">
                    <div class="navbar-logo">
                        <a href="/">
                            <img src="static/img/png/MigajeraLogo_Cabeza_SinColor-01-01.png" alt="Migajera Repostería">
                        </a>
                    </div>
                    <div class="navbar-links">
                        <a href="/menu" class="{% if request.path == '/menu' %}activo{% endif %}">
                            Menú
                        </a>
                        <a href="/about" class="{% if request.path == '/about' %}activo{% endif %}">
                            Nosotros
                        </a>
                    </div>

                </div>
            </nav>
        {% endif %}
    {% endif %}

    <!-- NAVBAR EMPLEADOS -->
    {% if tipo_nav == "empleado" %}
        <nav class="nav-emp">

            <div class="navbar">

                {% if session.puesto == 'Administrador' %}
                <a href="/employees" class="{% if request.path == '/employees' %}activo{% endif %}">
                    Empleados
                </a>
                {% endif %}

                <a href="/sales" class="{% if request.path == '/sales' %}activo{% endif %}">
                    Ventas
                </a>

                <a href="/products" class="{% if request.path == '/products' %}activo{% endif %}">
                    Productos
                </a>

                <a href="/ingredients" class="{% if request.path == '/ingredients' %}activo{% endif %}">
                    Ingredientes
                </a>

                <a href="/recipes" class="{% if request.path == '/recipes' %}activo{% endif %}">
                    Recetas
                </a>

                <a href="/logout">
                    <img src="{{ url_for('static', filename='img/svg/iconoCerrarSesion.svg') }}" alt="Cerrar sesión">
                </a>

            </div>

        </nav>
    {% endif %}

    <main>
        {% if tipo_nav == "empleado" %}
            <h1 class="titulo">{% block titulo %}Repostería{% endblock %}</h1>
        {% endif %}        

        {% block content %}{% endblock %}
    </main>

</body>
</html>