<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styleGlobal.css">
    <link rel="stylesheet" href="/static/css/styleVentas.css">
    <link rel="stylesheet" href="/static/css/styleTickets.css">
    <title>Document</title>
</head>
<body>

    <h1>nose</h1>

    <div class="cont-opciones">
        <div class="boton activo">
            <h2>Ventas del dia: 0</h2>
        </div>

        <div class="boton">
            <h2>Hacer una venta</h2>
        </div>

    </div>

    <div class="cont-tick">
        <div class="ticket">
            <h2>Ticket #0</h2>

            <div class="cont-datos">
                <div class="cont-com">
                    <div class="com">
                        <p>1 Pan</p>
                        <p>$50</p>

                    </div>

                    <div class="com">
                        <p>3 Pasteles</p>
                        <p>$250</p>
                        
                    </div>
                    

                </div>

                <div class="cont-total">
                    <h3>Total</h3>
                    <h3>$300</h3>
                </div>

                <div class="cont-fecha">
                    <p>Fecha: </p>
                    <p>Hora: </p>
                </div>
            </div>

        </div>

    </div>

</body>
</html>