<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styleGlobal.css">
    <link rel="stylesheet" href="/static/css/styleVentas.css">
    <link rel="stylesheet" href="/static/css/styleTickets.css">
    <title>Document</title>
</head>
<body>

    <h1>nose</h1>

    <div class="cont-opciones">
        <div class="boton">
            <h2>Ventas del dia: 0</h2>
        </div>

        <div class="boton activo-boton">
            <h2>Hacer una venta</h2>
        </div>

    </div>

    <div class="cont-vent">
        <div class="cont-cat">
            <h2>Categorias</h2>

            <div class="cat">
                <h3>Pastel</h3>

                <h3>Pan</h3>

            </div>
            
        </div>
        <div class="cont-produc-vent">
            <div class="tarjeta-prod">
                <h2></h2>

                <div class="cont-img-pord">
                    <img src="" alt="">
                </div>

                <div class="cont-cant">
                    
                </div>
            </div>
        </div>
    </div>

</body>
</html>