.cont-tabla .tabla
{
    width: 90%;
    border-radius: 20px;
    background-color: var(--color-MistyRose);
    border: 5px solid var(--color-Sakura);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabla .cont-dat
{
    width: 95%;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    border: 5px solid var(--color-Aloewood);
    border-radius: 50px;
    background-color: var(--color-Claro);

    margin: 10px 0;
}
.tabla .cont-dat p
{
    padding: 5px;
    text-align: center;
}
.tabla .cont-dat .cont-boton
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.cont-boton button
{
    padding: 5px;
    margin: 0 10px;
}


.cont-formEmp, .cont-tabla
{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont-formEmp form
{
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-MistyRose);
    border: 5px solid var(--color-Sakura);
}
.cont-formEmp form input, .cont-formEmp form select, .cont-formEmp form button
{
    padding: 5px;
}