*
{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Cocogoose";
    src: url("../fonts/Cocogoose.ttf") format("truetype");
}

:root
{
    --color-DarkChocolate: #443025;
    --color-Aloewood: #7f5836;
    --color-MilkTea: #aa7f66; 
    --color-Sakura: #ec9c9d;
    --color-MistyRose: #f2cfcb; 
    --color-Claro: #faf6eb;
}

body
{
    background-color: var(--color-Claro);
    letter-spacing: 2px;
}

nav
{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}
.navbar
{
    width: 80%;
    height: 70px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--color-MilkTea);

    border-radius: 50px;
}
.navbar a
{
    font-family: "Cocogoose", sans-serif;
    font-size: 20px;

    padding: 10px;
    color: var(--color-DarkChocolate);
    text-decoration: none;
    border-radius: 30px;

    display: flex;
}
.navbar a:hover
{
    background-color: var(--color-Aloewood);
    color: var(--color-Claro);
}
.navbar a img
{
    width: 40px;
}
.navbar .activo
{
    color: var(--color-Claro);
    background-color: var(--color-DarkChocolate);
}

.titulo
{
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 50px;
    font-family: "Cocogoose", sans-serif;
    color: var(--color-DarkChocolate);
    text-align: center;
}