<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/static/css/styleGlobal.css">

    <title>Ventas</title>
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="">Ventas</a>

            <a href="">Productos</a>

            <a href="">Ingredientes</a>
                
            <a href="">Recetas</a>

        </div>
    </nav> <!--reutilizable-->

    <main>
        <div class="titulo"></div> <!--reutilizable-->

        <div class="selec">
            <div class="boton">
                <h3>
                    Ventas del dia: 0
                </h3>
            </div>

            <div class="boton">
                <h3>
                    Hacer una venta
                </h3>
            </div>

        </div>

        <div class="ticket">
            <h3></h3>

            <div class="contenido">
                <div class="productos">

                </div>
                
                <h3 class="total"></h3>

                <div class="informacion">
                    <p class="fecha"></p>
                    <p class="hora"></p>
                    <p class="empleado"></p>
                </div>
            </div>
        </div>

    </main>
</body>
</html>