<link rel="stylesheet" href="{{ url_for('static', filename='css/styleVentas.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleTickets.css') }}">

{% extends 'navbar.html' %}

{% block title %}
    Ventas
{% endblock %}

{% block titulo %} Ventas {% endblock %}

{% block content %}

    <div class="cont-opciones">

        <div class="boton activo-boton">

            <h2>
                Ventas del día:
                {{ total_ventas }}
            </h2>

        </div>

        <div class="boton">

            <h2>
                Hacer una venta
            </h2>

        </div>

    </div>

    <div class="cont-tick">

        {% for venta in ventas %}

            <div class="ticket">

                <h2>

                    Ticket #{{ venta.id_venta }}

                </h2>

                <div class="cont-datos">

                    <!-- PRODUCTOS -->

                    <div class="cont-com">

                        {% for detalle in venta.detalles %}

                            <div class="com">

                                <p>

                                    {{ detalle.cantidad }}
                                    {{ detalle.nombre }}

                                </p>

                                <p>

                                    ${{ detalle.subtotal }}

                                </p>

                            </div>

                        {% endfor %}

                    </div>

                    <!-- TOTAL -->

                    <div class="cont-total">

                        <h3>Total</h3>

                        <h3>

                            ${{ venta.total }}

                        </h3>

                    </div>

                    <!-- FECHA -->

                    <div class="cont-fecha">

                        <p>

                            Fecha:
                            {{ venta.fecha_venta }}

                        </p>

                        <p>

                            Hora:
                            {{ venta.hora_venta }}

                        </p>

                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

{% endblock %}